
/*-------Styling which applies to all pages-------*/

:root {
    --teal-color: #4aaaa5;
    --dark-teal: #397f7b;
    --regular-font-color: #777777;
    --main-header-bg: #ffffff;
    --main-header-border: #cccccc;
    --footer-background: #666666;
    --content-background: #ffffff;
    --content-border: #dddddd;
}

body {
    background-image: url(../images/backgroundPattern.png);
}


.mg-h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: var(--main-header-bg);
    background-color: var(--teal-color);
    font-size: 2rem;
    padding: 0.7rem;
}

.mg-nav-background {
    background-color: var(--main-header-bg);
}