
/*-------Styling which applies to all pages-------*/

:root {
    --teal-color: #4aaaa5;
    --dark-teal: #397f7b;
    --regular-font-color: #777777;
    --main-header-bg: #ffffff;
    --main-header-border: #cccccc;
    --footer-background: #666666;
    --content-background: #ffffff;
    --content-border: #dddddd;
}

body {
    background-image: url(../images/backgroundPattern.png);
}


.mg-h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: var(--main-header-bg);
    background-color: var(--teal-color);
    font-size: 2rem;
    padding: 0.7rem;
}

.mg-h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: var(--teal-color);
}

.mg-nav-background {
    background-color: var(--main-header-bg);
}

.mg-nav-border {
    border: 1px solid var(--content-border);
}

.mg-nav-text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
    line-height: 2.5;
}

.mg-nav-text:hover {
    transition: 1s;
    text-decoration: underline var(--teal-color);
    color: var(--teal-color);
}

.mg-content-background {
    background-color: var(--content-background);
}

.mg-text-content-wrapper {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
}

/* --- Portfolio page styling --- */

.mg-image-caption {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: var(--main-header-bg);
    background-color: var(--teal-color);
    position: absolute;
    bottom: 15%;
    display: block;
}

.mg-image-caption:hover {
    color: var(--main-header-bg);
    background-color: var(--dark-teal);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.mg-desaturate {
    filter: grayscale(100%);
    transition: filter 0.5s;
    transition-timing-function: ease;
}

.mg-desaturate:hover, .mg-desaturate:focus-within {
    filter: grayscale(0%);

}


.mg-submit {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    color: var(--main-header-bg);
    background-color: var(--teal-color);
    padding: 10px;
    width: 100px;
    border: none;
}

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
}

.mg-text-area {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
    height: 8rem !important;
    border: 1px solid var(--content-border);
}
