
/*-------Styling which applies to all pages-------*/

:root {
    --teal-color: #4aaaa5;
    --dark-teal: #397f7b;
    --regular-font-color: #777777;
    --main-header-bg: #ffffff;
    --main-header-border: #cccccc;
    --footer-background: #666666;
    --content-background: #ffffff;
    --content-border: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/backgroundPattern.png);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

nav {
   background-color: var(--content-background);
   height: 74px;
   border-bottom: 1px solid var(--main-header-border);
}

.nav-wrapper {
    width: 960px;
    margin: auto;
}

.float-wrapper {
    float: right;
    margin-top: 1.5em;
}

nav a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
    padding: 0em 1em 0em 1em;
    text-decoration: none;
    border-right: solid 1px var(--main-header-border);
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    transition: 1s;
    text-decoration: underline var(--teal-color);
    color: var(--teal-color);
}

.main-content-wrapper {
    width: 960px;
    margin-top: 30px;
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: var(--main-header-bg);
    background-color: var(--teal-color);
    float: left;
    font-size: 30px;
    padding: 20px;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: var(--teal-color);
    font-size: 30px;
    padding: 20px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
    line-height: 2;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: var(--footer-background);
    border-top: 8px solid var(--teal-color);
    position: fixed;
    bottom: 0;
    text-align: center;
}

.footer p {
    color: var(--main-header-border);
    font-size: 0.8em;
    margin-top: 15px;
    margin-bottom: 5px;
}



/*-------About page specific styling----------*/

.hrMainContent {
    margin: 0px 20px 0px 20px;
    border-bottom: 2px solid var(--content-border);
    border-top: 0px solid; 
    color: var(--content-background);
}

.profile-img {
    margin: 20px;
    float: left;
}

.profile-img:hover, .profile-image:focus {
    box-shadow: 1px 1px 4px var(--teal-color);
    transition: 1s;
    outline-color: var(--teal-color);
}

.text-content-wrapper {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

/*--------Contact page specific styling------- */

.contact-content-wrapper {
    width: 960px;
    margin-top: 30px;
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    padding-top: 20px;
}

input[type=text], input[type=email] {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
    padding: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 920px;
    border: 1px solid var(--content-border);
}

input[type=text]:hover, input[type=text]:focus, input[type=email]:hover, input[type=email]:focus, textarea:hover, textarea:focus {
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px var(--teal-color);
    transition: 1s;
    outline-color: var(--teal-color);
}

textarea {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
    padding: 4px;
    margin-left: 20px;
    margin-top: 5px;
    width: 920px;
    height: 250px;
    border: 1px solid var(--content-border);
}

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: var(--regular-font-color);
    margin-left: 20px;
}

input[type=submit] {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    color: var(--main-header-bg);
    background-color: var(--teal-color);
    padding: 10px;
    width: 100px;
    border: none;
    margin: 10px 20px 20px 20px;
}

input[type=submit]:hover {
    background: var(--dark-teal);
    transition: 0.5s;
}

/*-------Portfolio page specific styling------*/

.portfolio-content-wrapper {
    width: 960px;
    margin-top: 30px;
    background-color: var(--content-background);
    border: 1px solid var(--content-border);
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.images-wrapper {
    width: auto;
    height: 100%;
}

.image-container {
    float: left;
    margin: 20px;
    position: relative;
}

.desaturate {
    filter: grayscale(100%);
}

.desaturate:hover, .desaturate:focus-within {
    filter: grayscale(0%);
    transition: 0.5s;
    transition-timing-function: ease;
}

.image-container a {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: var(--main-header-bg);
    background-color: var(--teal-color);
    width: 100%;
    position: absolute;
    bottom: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.image-container a:hover {
    background-color: var(--dark-teal);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}



/* ---------Media Queries--------- */


@media only screen and (max-width: 980px) {

    /*----Styling which applies to all pages----*/

    .nav-wrapper {
        width: 100%;
        margin: auto;
    }

    .float-wrapper {
        float: right;
        margin-top: 1.5rem;
    }

    nav {
        height: 4rem;
     }

    h1 {
        font-size: 2rem;
        height: 4rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: auto;
        display: inline;
        clear: both;
        margin-left: 2rem;
    }

    p {
        line-height: 1.75;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*----Styling which applies to only the about me page----*/

    .main-content-wrapper {
        width: 80vw;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: auto;
        margin-bottom: 4rem;
    }

    /*----Styling which applies to only the portfolio page----*/

    .portfolio-content-wrapper {
        width: 80vw;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: auto;
        margin-bottom: 4rem;
    }

    /*----Styling which applies to only the contact page----*/

    .contact-content-wrapper {
        width: 80vw;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: auto;
        margin-bottom: 4rem;
    }

    .contact-content-wrapper .hrMainContent {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-content-wrapper h2 {
        padding: 1rem 1rem 1rem 0rem;
        margin-left: 5%;
    }

    label {
        margin-left: 5%;
    }

    input[type=text], input[type=email] {
        padding: 0.2rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2rem;
        margin-top: 0.3rem;
        width: 90%;
    }

    textarea {
        margin-left: 5%;
        margin-top: 5px;
        width: 90%;
        height: 25vh;
    }

    input[type=submit] {
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 6rem;
        border: none;
        margin: 1rem 1rem 2rem 5%;
    }

}



@media only screen and (max-width: 768px) {
    /*----Styling which applies to all pages----*/


    /*----Styling which applies to only the about me page----*/

    .main-content-wrapper {
        width: 90%;
    }


    /*----Styling which applies to only the portfolio page----*/

    .portfolio-content-wrapper {
        width: 90%;
    }

    .contact-content-wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {

    /*----Styling which applies to all pages----*/

    h2{
        font-size: 1.75rem;
    }

    h1 {
        font-size: 1.75rem;
        height: 3rem;
        width: 100%;
        text-align: center;
        padding: 0.4rem 1rem 0.5rem 1rem;
        margin: 0em;
        margin-bottom: 0.5rem;
        display: block;
        clear: both;
    }

    nav {
        height: 6rem;
     }

     .nav-wrapper {
            width: 100%;
            text-align: center;
    }

    .float-wrapper {
        float: none;
        text-align: center;
        margin-top: 0em;
    }

     nav a {
        margin: 0 auto;
        padding: 0px;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
        line-height: 6vh;
    }

    /*----Styling which applies to only the about me page----*/

    .profile-img {
        display: block;
        margin: 1.5rem auto;
        float: none;
    }

    /*----Styling which applies to only the portfolio page----*/

    .images-wrapper {
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .image-container {
        float: none;
        width: 200px;
        margin: 0 auto;
        margin-top: 2em;
    }

    
    .images-wrapper:last-child {
        margin-bottom: 2em;
    }

    .image-container img {
        display: block;
        margin: 0 auto;
    }

    .image-container a {
        font-family: 'Georgia', Times, Times New Roman, serif;
        text-align: center;
        color: var(--main-header-bg);
        background-color: var(--teal-color);
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }
    

}